# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# VSCode / PyCharm project settings
.vscode/
.idea/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store

